<script type="text/javascript">
$(function(){
    $("#advanced-search").click(function(){
        $("#advanced-pannel").toggle();
        
    });
});
        </script>
<div class="header-wrap">
    <div class="primary-wrap">
      <div class="brand-wrap">
        <h1>
          <a href="/" class="brand-link">
          <!--  <img src="http://r.photo.store.qq.com/psb?/V11HDhVk157QRj/f..HV16XWKxGPqL7G6xm9nuq3LCuK7WmMiFB9362388!/r/dGgBAAAAAAAA" style="width:265px;height:42px;margin-bottom: 5px" >-->
          <span style="font-size: 1em">Carbo<span style="color: #00bfff">low</span>drate</span>
          </a>
        </h1>
      </div>

      <div class="search-wrap">
          <%= form_tag search_products_path, method: :get do %>
            <div class="el-wrap header-search-el-wrap">
              <input type="text" placeholder="Search for foods by title / description / kinds" name="query_string"  value="<%= params[:q] %>" class="text-input">
              <input type="hidden" name="search" value="Find food">
              <button class="header-search-btn" type="submit"><span class="text">Search</span></button>
            </div>
            <% end %>
          <button id="advanced-search" class="btn btn-default">Advanced Search</button>
          <div class="bg-screen"></div>
      </div>
    </div>
</div>

<div id="advanced-pannel" class="h130 hidden-div">
  <%= simple_form_for :s, url: search_products_path, method: :get do |f|%>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-3">
      <%= f.input :content, :required => false, :autofocus => true%>
    </div>
    <div class="col-md-3">
      <%= f.input :lowprice, placeholder: "最低价", :required => false%>
    </div>
    <div class="col-md-3">
      <%= f.input :highprice, placeholder: "最高价", :required => false%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-3">
      <%= f.label :category%>
      <%= f.select :category, options_for_select([["Select One", ""], "chocolate", "nut", "berry", "freshfood"]) %>
    </div>
    <div class="col-md-3">
      <%= f.label :carbolevel%>
      <%= f.select :carbolevel, options_for_select([["Select One", ""], "0-10%", "10-20%", "20-30%", ">30%"]), class: "form-control"%>
    </div>
  </div>
  <div class="col-md-3 mb20">
      <%= f.submit "Submit", data: { disable_with: "Submitting..."}, :class => "btn btn-info col-md-12" %>
    </div>
  <% end %>
</div>

<div class="secondary-header-wrap mb10 h50 col-md-12">
	<div class="secondary-header">
        <ul class="page-links mobile-nav-content" data-order="2">
            <li class="mob-nav-shop"><%= link_to "所有商品", products_path %></li>
            <li class="mob-nav-shop"><%= link_to "巧克力", products_path(:category => "chocolate") %></li>
            <li class="mob-nav-shop"><%= link_to "坚果", products_path(:category => "nut") %></li>
            <li class="mob-nav-shop"><%= link_to "浆果", products_path(:category => "berry") %></li>
            <li class="mob-nav-shop"><%= link_to "生鲜", products_path(:category => "freshfood") %></li>
        </ul>
	</div>
</div>
<!-- <div class="form-group" style="background-color: #4c394e; height:100px;">
  <div class="col-md-2" style="height:100px;padding:1.5rem">
      <a href="/" class="brand-link">
        <img src="http://worldforum-healthierfood.org/images/low-carb-logo.png" style="width:60px;height:60px;" alt="Bookdepository.com">
      </a>
  </div>
  <div class="col-md-10">
    <form role="form" class="form-inline" style="padding:2.5rem;">
        <input type="text" class="form-control" placeholder="文本输入" style="width:300px; height:46px;">
        <button type="submit" class="btn btn-primary btn-lg">Search</button>
        <button type="button" class="btn btn-default btn-lg">
          Search Advance
        </button>
  </form>
  </div>
</div> -->
