<style>
#limitpic {

  width: 97.1px;

}

</style>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" style="padding-top: 20px">
  <div class="col-md-6">

    <% if @product.photos.present? %>
      <% @photos.each_with_index do |p, index| %>
        <% if index == 0 %>
          <%= image_tag p.avatar.medium.url %>

        <br><br>

        <div style="width: 500px">
            <ul >
                  <% else %>
                    <span><%= image_tag p.avatar.thumb.url, id: "limitpic" %></span>
                  <% end %>
                  <% end %>
            </ul>
        </div>
    <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>


  <div class="col-md-6">
    <div style="height:80px">
    <h2 > <%= @product.title %> </h2>
  </div>
    <div style="height:100px;">
      <p style="color: grey">
        <%= @product.description %>
      </p>
    </div>
    <div style="height: 50px">
      <h5>
    数量 : <%= @product.quantity %>
      <h5>
  </div>

    <div style="height: 50px">
      <h4>￥:<%= @product.price %></h4>
    </div>

    <div class="pull-right" style="margin-top: 5px">
      <% if @product.quantity.present? && @product.quantity > 0 %>
          <%= link_to("加入购物车", add_to_cart_product_path(@product), :method =>:post, :class => "btn btn-primary btn-lg btn-danger") %>
      <% else %>
          已售罄
      <% end %>

    </div>

  </div>
</div>
<hr>

</div>

</div>

</body>

<div class="container">
  <h2>More Information</h2>
  <br>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Details">商品详情</a></li>
    <li><a data-toggle="tab" href="#Comments">商品评论</a></li>
    <li><a data-toggle="tab" href="#Standards">规格信息</a></li>
    <li><a data-toggle="tab" href="#Saleterms">售后条款</a></li>
  </ul>

  <div class="tab-content">

    <div id="Details" class="tab-pane fade in active">
      <h3 class="text-center">商品详情</h3>
      <div class="container tab-pane fade in active" style="padding-left: 170px" >
        <% if @product.photos.present? %>
            <% @photos.each_with_index do |p, index| %>
                <%= image_tag p.avatar.url, resize_to_fit:[400,600], class: "thumbnail" %>
                <br >
                <br>
            <% end %>
          <% end %>
      </div>

    </div>
    <div id="Comments" class="tab-pane fade">
      <br><br>
      <strong>所有评价</strong>
      <br><br>
      <% @product.comments.each do |comment| %>
        <div class="well">
          <p><strong><%= comment.user.email%> :</strong></p>

          <p> <%= comment.content %></p>
        </div>
      <% end %>

      <hr>

      <h4>写下您的评论：</h4>

      <%= simple_form_for ([@product, @product.comments.build]) do |f| %>
          <p>
            <%= f.input :content, label: "评价内容" %>
            <%= f.submit "提交", :class => 'btn btn-default'%>
          </p>
      <% end %>


    </div>
    <div id="Standards" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="Saleterms" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>
</html>
