<style>
.limitpic {
  height: 97.1px;
}

</style>
<script type="text/javascript">
$(function(){
  $('.limitpic').click(function (event) {
  var src = $(this).attr("src")
  $('#imageshow').attr({"src" : src, width:"400",height:"400"})
  });
});
</script>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" style="padding-top: 20px">
  <div class="col-md-6">
    <% if @product.photos.present? %>
          <%= image_tag @product.photos[0].avatar.medium.url, id: "imageshow" %>
          <br><br>
        <div style="">
            <% @photos.first(4).each_with_index do |p, index| %>
            <span><%= image_tag p.avatar.thumb.url, class: "limitpic" %></span>
            <% end %>
        </div>
    <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>

  <div class="col-md-6">
    <div style="height:80px">
    <h2 > <%= @product.title %> </h2>
    Carbolevel: <span class="text" style="color: red"><%= @product.carbolevel%></span>
  </div>

    <div style="height:100px;">
      <p style="color: grey">
        <%= @product.description %>
      </p>
    </div>
    <div style="height: 40px; font-size: 1.2em;color:#337ab7;">
      <span class="views"><i class="fa fa-eye fa-3" aria-hidden="true">  <%= @product.views %></i></span>
    </div>
    <div style="height: 40px">
      <h5>
    数量 : <%= @product.quantity %>
      <h5>
  </div>

    <div style="height: 70px">
      <h4>￥:<%= @product.price %></h4>
      <% if @is_surprise == "true" %>
        恭喜您今天此件商品获得了<em>8折</em>优惠<span style="color: red; font-size:2em;"><%= number_to_currency(@product.price*0.8, precision: 2, unit: "¥", separator: ",", delimiter: "") %></span>
      <% end %>
    </div>

    <div class="pull-right" style="margin-top: 5px">
      <% if @product.quantity.present? && @product.quantity > 0 %>
          <%= link_to("加入购物车", add_to_cart_product_path(@product), :method =>:post, :class => "btn btn-primary btn-lg btn-danger") %>
      <% else %>
          已售罄
      <% end %>
    </div>

  </div>
</div>
<hr>

</div>

</div>

</body>

<div class="container">
  <h2>More Information</h2>
  <br>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Details">商品详情</a></li>
    <li><a data-toggle="tab" href="#Comments">商品评论</a></li>
    <li><a data-toggle="tab" href="#Standards">规格信息</a></li>
    <li><a data-toggle="tab" href="#Saleterms">售后保障</a></li>
  </ul>

  <div class="tab-content">

    <div id="Details" class="tab-pane fade in active">
      <div class="container tab-pane fade in active centerPhoto" >
        <!-- producing area  -->
        <% if @product.location_id.present? %>
          <%= text_field_tag :product_latitude, Location.where("id=#{@product.location_id}")[0]["latitude"], class: "hidden"%>
          <%= text_field_tag :product_longitude, Location.where("id=#{@product.location_id}")[0]["longitude"], class: "hidden"%>

          <div class="mt10">
            <div class="col-md-6 mb10">
              <div id="googleMap" style='max-width: 300px; height: 200px;'></div>
            </div>
            <div class="col-md-6">
              <p class="lead"> 原产地介绍 </p>
              <p><%= Location.where("id=#{@product.location_id}")[0]["description"]%></p>
            </div>
        </div>
        <% end %>
        <% if @product.photos.present? %>
            <% @photos.each_with_index do |p, index| %>
                <%= image_tag p.avatar.url, resize_to_fit:[400,600], class: "thumbnail centerPhoto" %>
                <br >
                <br>
            <% end %>
          <% end %>
      </div>

    </div>
    <div id="Comments" class="tab-pane fade">
      <br><br>
      <strong>所有评价</strong>
      <br><br>
      <% @product.comments.each do |comments| %>
        <div class="well">
          <p><strong><%= comments.user.email%> :</strong></p>

          <p> <%= comments.content %></p>
        </div>
      <% end %>

      <hr>

      <h4>写下您的评论：</h4>

      <%= simple_form_for ([@product, @product.comments.build]) do |f| %>
          <p>
            <%= f.input :content, label: "评价内容" %>
            <%= f.submit "提交", :class => 'btn btn-default'%>
          </p>
      <% end %>


    </div>
    <div id="Standards" class="tab-pane fade">
      <h3>规格信息</h3>
      <p>待添加......</p>
    </div>
    <div id="Saleterms" class="tab-pane fade">
      <h3>售后保障</h3>
      <p>凭质保证书及发票，可享受全国联保服务（奢侈品、钟表除外；奢侈品、钟表，享受法定三包售后服务），与您亲临商场选购的商品享受相同的质量保证。还为您提供具有竞争力的商品价格和运费政策，请您放心购买！

注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！</p>
    </div>
  </div>
</div>
</html>

<script>
function myMap() {
  var myCenter = new google.maps.LatLng($("#product_latitude").val(), $("#product_longitude").val())
  var mapProp= {
      center: myCenter,
      zoom:5,
};
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
  var marker = new google.maps.Marker({
    position: myCenter,
    map: map,
    title: 'Hello World!'
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmjnZymeUq4KlIP7q5xVDnWpMJ9VUkUBA&callback=myMap"></script>
<!-- end -->
