<div class="container" style="padding-top: 20px">
  <div class="col-md-6">

    <% if @product.photos.present? %>
      <% @photos.each_with_index do |p, index| %>
        <% if index == 0 %>
          <%= image_tag p.avatar.medium.url %>
          <hr >
            <div style="letter-spacing: -4px">
        <% else %>
          <%= image_tag p.avatar.thumb.url %>
        <% end %>
      <% end %>
            </div>
    <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <div style="height:80px;">
    <h2> <%= @product.title %> </h2>
  </div>
    <div style="height:150px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div style="height: 50px"> ￥ <%= @product.price %>
    </div>

    <div class="pull-right" style="margin-top: 50px">
      <% if @product.quantity.present? && @product.quantity > 0 %>
          <%= link_to("加入购物车", add_to_cart_product_path(@product), :method =>:post, :class => "btn btn-primary btn-lg btn-danger") %>
      <% else %>
          已售罄
      <% end %>

    </div>
  </div>
</div>
