
<div class="user-nav-wrap">
  <div class="user-nav">
    <ul class="left-nav nav" data-order="1">
      <li>
        <a href="/" class="home-icon-link">
          <i class="fa fa-home">
          </i>
        </a>
      </li>
      <li class="mob-nav-account">
         <%= link_to("Products", products_path) %>
      </li>
      <li class="mob-nav-account">
        <a rel="nofollow" href="welcome/about">
          <i class="icon-info"></i>
          About
        </a>
      </li>
    </ul>

    <div style="margin: auto;">
    </div>

      <ul class="right-nav mobile-nav-content" data-order="2">
        <li class="mob-nav-account">
          <%= link_to carts_path do %>
            <i class="fa fa-shopping-cart">( </i> <%= current_cart.products.count %> )
          <% end %>
        </li>
        <% if !current_user%>
          <li><%= link_to("注册", new_user_registration_path)%></li>
          <li><%= link_to(content_tag(:i, "登入", class: 'fa fa-sign-in'), new_user_session_path)%></li>
        <% else %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Hi!, <%= current_user.email %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin?%>
              <li>
                <%= link_to("Admin 选单", admin_products_path)%>
              </li>
              <% end %>
              <li>
                <%= link_to("我的订单", account_orders_path)%>
              </li>
              <li>
                <%= link_to(content_tag(:i, "登出", class: "fa fa-sign-out"), destroy_user_session_path, :method => :delete)%>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
  </div>
</div>
